@media screen and (max-width:1200px) {
    .site-banner-warp .grid {
        grid-template-columns: 1fr 1fr;
    }

    .site-banner-warp .grid .item:nth-of-type(1),
    .site-banner-warp .grid .item:nth-of-type(2) {
        grid-area: 1/1;
    }

    .site-banner-warp .grid .item:nth-of-type(1) {
        z-index: 1;
    }

    .rabbit-card {
        margin-left: auto;
        margin-right: 20px;
    }
  .journey-wrapper {
    width: 500px;
    height: 500px;
    margin: 250px auto;
}

     .circle-inner {
        width: 369px;
        height: 369px;
    }
    .left-bottom {
        left: -203px;
        bottom: 140px;
    }
    .left-top {
        left: -200px;
        top: 140px;
    }
    .left-top {
        left: -193px;
        top: 140px;
    }

    .right-top {
        right: -193px;
        top: 140px;
    }

    .right-bottom {
        right: -203px;
        bottom: 140px;
    }

    .circle-outer {
        width: 666px;
        height: 666px;
    }
    .circle-middle {
        width: 505px;
        height: 505px;
    }
    .top-card {
        left: 50%;
        top: -175px;
    }
    .bottom-card {
        left: 50%;
        bottom: -175px;
    }

    .deeper-delves-sec .hero-content {
        padding: 24px;
    }
}

@media screen and (max-width:991px){

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .banner-content {
        padding: 40px 20px; 
    }
.journey-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
}

    .circle-outer,
    .info-card{
        position:static;
        transform:none;
        width: 100%;
    }

.circle-outer {
    width: 350px;
    height: 350px;
    grid-column: 1/-1;
    margin-top: 60px;
    margin-inline: auto;
}

    .circle-middle{
        width:280px;
        height:280px;
    }

    .circle-inner{
        width:200px;
        height:200px;
    }

    .search-box{
        width:100%;
        max-width:520px;
    }

     .contact-grid{
        grid-template-columns:1fr;
        margin: 40px 0;
    }

    .contact-form-card .row{
        grid-template-columns:1fr;
        gap: 0;
    }


    .page-heading p{
        font-size:18px;
    }


    .map-card{
        position:static;
        margin-top:20px;
    }
    .dot {
        display: none;
    }

    .journey-wrapper {
        margin: 40px auto;
    }

    .contact-page h1 {
        line-height: normal;
    }
    .breadcrumb {
        margin-bottom: 20px;
    }
    
    .submit-btn {
        padding: 12px 25px;
    }

      .hero-content h1 {
        font-size: 56px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .about-banner img {
        height: 500px;
    }

    .deep-reading-wrapper {
        grid-template-columns: 100%;
    }

    .reading-content,
    .reading-cards {
        width: 100%;
    }

    .reading-cards {
        margin-top: 30px;
    }

    .values-grid {
        grid-template-columns: 1fr;
    }

    .section-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .newsletter-content h2 {
        font-size: 42px;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: center;
    }

    .newsletter-form input {
        width: 100%;
    }
    .core-values {
        padding: 60px 0;
    }

     .section-heading h1 {
        font-size: 52px;
    }

    .selector-grid {
        grid-template-columns: 1fr;
    }

    .gateway-banner img {
        height: 300px;
    }

      .card-grid{
        grid-template-columns:1fr 1fr;
    }

    .delvettes-sec .featured-card{
        flex-direction: column;
        grid-column: 1/-1;
    }

    .delvettes-sec .featured-img,
    .delvettes-sec .featured-content{
        width:100%;
    }


    .featured-content h2{
        font-size:34px;
    }

      .benefit-grid{
        grid-template-columns:1fr;
    }

    .process-section .section-title {
        flex-direction: row;
        align-items: center;
    }
    .summary-item {
        justify-content: center;
        flex-direction: column;
    }

    .summary-item strong {
        text-align: center;
    }
   
    .content-card {
        padding: 30px 30px;
        border-radius: 24px;
        box-shadow: 0 25px 60px rgba(0,0,0,.05);
    }

     .premium-content h1{
        font-size:46px;
    }

    .premium-content h2{
        font-size:34px;
    }

    .premium-content p{
        font-size:18px;
    }

    blockquote{
        font-size:26px;
    }

    .final-statement{
        font-size:24px;
    }

     .hero-content h1{
        font-size:3.5rem;
    }

    .knowledge-grid{
        grid-template-columns:1fr;
    }

    .steps{
        flex-wrap:wrap;
    }

    .arrow{
        display:none;
    }

    .step{
        width:calc(50% - 20px);
        flex:none;
    }

    .summary-box{
        flex-direction:column;
        gap:25px;
    }

   .divider {
        height: 1px;
        width: 100%;
    }
    .summary-item p {
        text-align: center;
    }

    .delves-sec .featured-grid {
        grid-template-columns: 100%;
    }

    .delves-sec .content-layout {
        grid-template-columns: 100%;
        gap: 24px;
    }

    .deeper-delves-sec .hero-feature {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .deeper-delves-sec .hero-image img {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
    }

    .deeper-delves-sec .hero-content {
        padding: 24px;
        position: static;
        transform: translateY(0);
        width: 100%;
        max-width: 100%;
    }
    .exploration-sec .bottom-grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .newsletter-section {
        padding: 60px 0;
    }
    .deeper-delves-sec {
        padding: 60px 0 0;
    }

    .contact-grid-btm {
        grid-template-columns: repeat(2, 1fr);
    }


    .article-content{
        max-width:100%;
    }

    .cst-single-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .related-science h2 {
        font-size: 34px;
    }

    .card-content h3 {
        font-size: 28px;
    }
}

@media screen and (max-width:768px){
    /* .site-banner-warp .grid .item:nth-child(2) {
        grid-area: 1;
    } */

       .rabbit-card {
        margin-left: auto;
        margin-right: auto;
    }
    .site-banner-warp .grid {
        grid-template-columns: 100%;
    }
    .contact-form-card {
        padding: 40px 20px;
    }
    .delveburt-section {
        padding: 40px 0;
    }
    .how-we-got {
        padding: 40px 0;
    }
    .solution {
        padding: 40px 0;
    }

     .about-hero {
        padding: 50px 0;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .reading-content h2,
    .section-title h2 {
        font-size: 36px;
    }

    .reading-card {
        min-height: 220px;
    }

    .newsletter-content h2 {
        font-size: 34px;
    }

    .newsletter-content p {
        font-size: 18px;
    }
    .hub-columns {
        grid-template-columns: 100%;
    }
    .handshake-icon {
        width: 60px;
        height: 60px;
    }
    .handshake-icon img {
        width: auto;
    }
    .handshake-btn {
        font-size: 16px;
        padding: 12px 22px 12px 22px;
    }
    .column-heading h3 {
        font-size: 24px;
    }

     .delve-selector {
        padding: 60px 0;
    }

    .section-heading h1 {
        font-size: 40px;
    }

    .section-heading p {
        font-size: 18px;
    }

    .selector-card h3 {
        font-size: 24px;
    }

    .selector-card li {
        font-size: 16px;
        padding: 16px;
    }

    .gateway-content {
        left: 20px;
        right: 20px;
        bottom: 20px;
    }

    .gateway-content h2 {
        font-size: 28px;
    }

    .gateway-content p {
        font-size: 16px;
    }

     .premium-hero{
        padding:80px 0;
    }

    .philosophy-image{
        height:350px;
    }

    .philosophy-card{
        width:90%;
        padding:25px;
    }

   .result-box blockquote {
    font-size: 22px;
    margin-bottom: 0;
}
    .result-box {
        margin-top: 50px;
        padding: 20px 20px;
    }
   .reasons p {
    padding-left: 28px;
    margin-bottom: 14px;
}
    .content-card h3 {
        color: #9b6238;
        font-size: 26px;
        margin-bottom: 15px;
    }

    .membership-explainer {
        padding: 40px 0;
        background: #f5f1eb;
    }

     .premium-membership{
        padding:70px 0;
    }

    .premium-content h1{
        font-size:36px;
    }

    .price{
        font-size:22px;
        margin-bottom:50px;
    }

    .premium-content h2{
        font-size:28px;
    }

    blockquote{
        font-size:22px;
        padding-left:20px;
    }

    .handshake-hero{
        min-height:650px;
    }


    .step{
        width:100%;
    }

    .section-title h2{
        font-size:1.8rem;
    }

   .launch-btn {
        width: 100%;
        max-width: 350px;
        font-size: 18px;
        padding: 14px 20px;
    }

    .process-section {
        padding: 60px 0;
    }

    .deeper-delves-sec .hero-feature {
        grid-template-columns: 100%;
    }

    .deeper-delves-sec .article-card.horizontal {
        grid-template-columns: 100%;
        grid-column: span 1;
    }

    .deeper-delves-sec .article-grid {
        grid-template-columns: 1fr 1fr;
    }

    .deeper-delves-sec .article-card.large {
        grid-row: span 1;
    }
    .deeper-delves-sec .article-card img {
        height: 260px;
        object-fit: cover;
    }

     .exploration-sec .bottom-grid {
        grid-template-columns: 100%;
    }

    .deeper-delves-sec {
        padding: 40px 0 0;
    }

    .delvettes-sec {
        padding: 40px 0;
    }

    .terms-policy-page {
        padding: 50px 0;
    }

    .terms-policy-page p b {
        font-size: 26px;
        margin: 50px 0 20px;
    }

    .terms-policy-page ul li {
        font-size: 16px;
        line-height: 1.7;
        padding-left: 24px;
    }

    .single-post{
        padding:50px 15px;
    }


    .article-meta{
        flex-direction:column;
        gap:20px;
    }

    .article-content p{
        font-size:16px;
    }

    .membership-box{
        padding:25px;
    }

    .dropcap:first-letter{
        font-size:52px;
        line-height:45px;
    }

     .cst-single-grid {
        grid-template-columns: 1fr;
    }

    .related-post-sec {
        padding: 60px 0;
    }

    .related-post-sec h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .card-content h3 {
        font-size: 22px;
    }
}

@media screen and (max-width:575px){
  .site-header .container {
        padding: 10px 20px;
        justify-content: center;
        gap:10px;
    }

    .footer-links {
        text-align: left;
        width: 100%;
    }
    .footer-features {
        display: flex;
        gap: 20px;
    }

    .footer-bottom {
        margin-top: 40px;
    }
    .location-card {
        padding: 25px;
    }
    .regional-card {
        padding: 25px;
    }
    .circle-outer {
        width: 320px;
        height: 320px;
    }
    .contact-page {
        padding: 40px 0 40px;
    }
    .social-icons a {
        font-size: 22px;
    }

    .core-values {
        padding: 40px 0;
    }
    .handshake-content {
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
    }
    .handshake-text h3 {
        font-size: 20px;
    }
     .column-heading h3 {
        font-size: 22px;
    }

    .card-grid {
        grid-template-columns: 100%;
    }

    .hero-strip p {
        font-size: 18px;
    }

    .handshake-hero {
        min-height: 500px;
    }

    .summary-box {
        gap: 20px;
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 1.7;
    }

    .result-box blockquote {
        font-size: 18px;
        margin-bottom: 0;
        padding: 12px;
        border-width: 2px;
    }
    .final-box {
        font-size: 16px;
    }

    .delves-sec .post-item {
        grid-template-columns: 100%;
    }
    .delves-sec .read-time {
        text-align: left;
    }

    .delve-copy .grid {
        grid-template-columns: 100%;
    }

    .delve-copy .item {
        padding: 0;
    }

    .delve-copy .grid {
        gap: 20px;
    }
    .deeper-delves-sec .article-grid {
        grid-template-columns: 100%;
    }
    .deeper-delves-sec .card-content h3 {
        font-size: 22px;
    }

     .contact-grid-btm {
        grid-template-columns:100%;
    }

    .related-post-sec {
        padding: 40px 0;
    }
}