@media(max-width:991px){

    h1{
        font-size:40px;
    }

    .journey-wrapper{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .circle-outer,
    .info-card{
        position:static;
        transform:none;
    }

    .circle-outer{
        width:350px;
        height:350px;
    }

    .circle-middle{
        width:280px;
        height:280px;
    }

    .circle-inner{
        width:200px;
        height:200px;
    }

    .search-box{
        width:100%;
        max-width:520px;
    }
}
