@media screen and (max-width:1200px) {
    .site-banner-warp .grid {
        grid-template-columns: 1fr 1fr;
    }
  .journey-wrapper {
    width: 500px;
    height: 500px;
    margin: 250px auto;
}

     .circle-inner {
        width: 369px;
        height: 369px;
    }
    .left-bottom {
        left: -203px;
        bottom: 140px;
    }
    .left-top {
        left: -200px;
        top: 140px;
    }
    .left-top {
        left: -193px;
        top: 140px;
    }

    .right-top {
        right: -193px;
        top: 140px;
    }

    .right-bottom {
        right: -203px;
        bottom: 140px;
    }

    .circle-outer {
        width: 666px;
        height: 666px;
    }
    .circle-middle {
        width: 505px;
        height: 505px;
    }
    .top-card {
        left: 50%;
        top: -175px;
    }
    .bottom-card {
        left: 50%;
        bottom: -175px;
    }
}

@media screen and (max-width:991px){

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }


    .banner-content {
        padding: 40px 20px; 
    }
.journey-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
}

    .circle-outer,
    .info-card{
        position:static;
        transform:none;
        width: 100%;
    }

.circle-outer {
    width: 350px;
    height: 350px;
    grid-column: 1/-1;
    margin-top: 60px;
    margin-inline: auto;
}

    .circle-middle{
        width:280px;
        height:280px;
    }

    .circle-inner{
        width:200px;
        height:200px;
    }

    .search-box{
        width:100%;
        max-width:520px;
    }

     .contact-grid{
        grid-template-columns:1fr;
        margin: 40px 0;
    }

    .contact-form-card .row{
        grid-template-columns:1fr;
        gap: 0;
    }


    .page-heading p{
        font-size:18px;
    }


    .map-card{
        position:static;
        margin-top:20px;
    }
    .dot {
        display: none;
    }

    .journey-wrapper {
        margin: 40px auto;
    }

    .contact-page h1 {
        line-height: normal;
    }
    .breadcrumb {
        margin-bottom: 20px;
    }
    
    .submit-btn {
        padding: 12px 25px;
    }
   
}

@media screen and (max-width:768px){
    .site-banner-warp .grid .item:nth-child(2) {
        grid-area: 1;
    }
    .site-banner-warp .grid {
        grid-template-columns: 100%;
    }
    .contact-form-card {
        padding: 40px 20px;
    }
    .delveburt-section {
        padding: 40px 0;
    }
    .how-we-got {
        padding: 40px 0;
    }
    .solution {
        padding: 40px 0;
    }
}

@media screen and (max-width:575px){
  .site-header .container {
        padding: 10px 20px;
        justify-content: center;
    }

    .footer-links {
        text-align: left;
        width: 100%;
    }
    .footer-features {
        display: flex;
        gap: 20px;
    }

    .footer-bottom {
        margin-top: 40px;
    }
    .location-card {
        padding: 25px;
    }
    .regional-card {
        padding: 25px;
    }
    .circle-outer {
        width: 320px;
        height: 320px;
    }
    .contact-page {
        padding: 40px 0 40px;
    }
    .social-icons a {
        font-size: 22px;
    }
}